@import "../../../assets/css/variables";
@import "../../../assets/css/mixin";

.privacyp-content {
    padding: 15px;
    margin-bottom: 70px;
    @include mdm {
        padding: 0 90px;
    }
    h1 {
        color: $scnd-colour;
        @include mainfont;
        font-size: 40px;
        font-weight: 900;
        padding: 40px 0px 20px 0px;
        span{
            color: $prime-colour;
        }
        @include mdm{
            font-size: 60px;
        }
    }
    p {
        @include scndfont;
        color: $text;
        font-size: 18px;
    }
}