@import "../../../assets/css/variables";
@import "../../../assets/css/mixin";

.about_header_wrapper {
    margin: 8px;
    h1 {
        color: $prime-colour;
        @include mainfont;
        font-size: 40px;
        font-weight: 900;
        padding: 40px 0px 0px 0px;
        @include mdm{
            font-size: 60px;
        }

    }
    h1+h1 {
        padding-top: 0;
        padding-bottom: 20px;
        color: $scnd-colour;
    }
    img {
        border-radius: 15px;
        margin-bottom: 20px;
    }
    p {
        @include scndfont;
        color: $text;
        font-size: 18px;
    }

    @include mdm {
        .about_header {
              margin-left: 45px;
              margin-bottom: 30px;
          }
          img {
            display: grid;
            margin: auto
          }
          img + p {
              padding: 50px 10px 10px 50px
          }
          p + p {
            margin: 0 50px;
          }
    }

}

.vision_mission{
    padding: 10px 10px;
    .card {
        padding: 10px;
        background-color: $prime-colour;
        border-radius: 15px;
        margin-bottom: 30px;
        h2 {
            color: white;
            @include mainfont;
            font-weight: 700;
        }
        p {
            color: white;
            @include scndfont;
            font-size: 18px;
            opacity: 0.8;
        }
        img {
            width: 60px;
            margin-bottom: 20px;
        }
        .crd {
            margin-bottom: 10px;
        }
    }
    @include mdm {
        margin-top: 60px;
        padding: 10px;
        .row {
            justify-content: space-evenly;
        }
    }
}

.team {
    @include mdm {
        text-align: center;
        h1+p {
            margin: 0px 60px;
        }
    }
    h1 {
        color: $scnd-colour;
        @include mainfont;
        font-size: 40px;
        font-weight: 900;
        padding: 40px 0px 0px 12px;
        @include mdm{
            font-size: 60px;
        }
    }
    h1+p{
        padding: 0px 12px;
        color: $text;
        @include scndfont;
        font-size: 18px;
        opacity: 0.8;
        @include mdm {
            margin-bottom: 80px

        }
    }
    .members {
        h3 {
            @include scndfont;
            padding-top: 5px;
            margin: 0;
            // @include $scnd-colour;
        }
        img {
            border-radius: 100px;
            border: 6px solid $prime-colour;
            width: 50%;
            height: auto;
        }
        h3+p {
            font-style: italic ;
            color: gray;
        }
        p+p{
            margin: 0px 30px 30px;
            padding-bottom: 20px;
            @include scndfont;
            color: $text;
            font-size: 18px;
        }
        @include mdm {
             p+p {
                margin: 20px 0px;
            }
        }
    }
}

.request {
    background-color: $prime-colour;
    margin: 10px 10px 80px;
    color: white;
    padding: 25px;
    border-radius: 20px;
    @include mdm {
        padding: 20px 80px;
        margin: 20px 10px 80px;
    }
    p{
        position: relative;
        @include scndfont;
        font-size: 18px;
        margin-bottom: 40px
    }
    img {
        position: relative;
        opacity: 0.7;
        width: 60px;
        padding-bottom: 20px;
    }
    .btndiv  {
        display: flex;
    }
    a {
        text-decoration: none;
        text-align: center;
        width: 100%;
        background: white;
        border-radius: 20px;
        color: $prime-colour;
        font-weight: 600;
        @include scndfont;
        font-size: 17px;
        margin: 0px 15px;
        padding: 10px 32px;
        border: 2px solid #4edbb9;
        transition: 0.2s;
        padding-bottom: 10px;
        margin-bottom: 25px;
        &:hover {
            color: $prime-colour;
            background-color: white;
            border: 2px solid white;
            opacity: 0.6;
    }
    }
}