.about_header_wrapper {
  margin: 8px;
}

.about_header_wrapper h1 {
  color: #50B89F;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 900;
  padding: 40px 0px 0px 0px;
}

@media (min-width: 768px) {
  .about_header_wrapper h1 {
    font-size: 60px;
  }
}

.about_header_wrapper h1 + h1 {
  padding-top: 0;
  padding-bottom: 20px;
  color: #180F48;
}

.about_header_wrapper img {
  border-radius: 15px;
  margin-bottom: 20px;
}

.about_header_wrapper p {
  font-family: 'Lato', sans-serif;
  color: #8482A0;
  font-size: 18px;
}

@media (min-width: 768px) {
  .about_header_wrapper .about_header {
    margin-left: 45px;
    margin-bottom: 30px;
  }
  .about_header_wrapper img {
    display: -ms-grid;
    display: grid;
    margin: auto;
  }
  .about_header_wrapper img + p {
    padding: 50px 10px 10px 50px;
  }
  .about_header_wrapper p + p {
    margin: 0 50px;
  }
}

.vision_mission {
  padding: 10px 10px;
}

.vision_mission .card {
  padding: 10px;
  background-color: #50B89F;
  border-radius: 15px;
  margin-bottom: 30px;
}

.vision_mission .card h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.vision_mission .card p {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  opacity: 0.8;
}

.vision_mission .card img {
  width: 60px;
  margin-bottom: 20px;
}

.vision_mission .card .crd {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .vision_mission {
    margin-top: 60px;
    padding: 10px;
  }
  .vision_mission .row {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .team {
    text-align: center;
  }
  .team h1 + p {
    margin: 0px 60px;
  }
}

.team h1 {
  color: #180F48;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 900;
  padding: 40px 0px 0px 12px;
}

@media (min-width: 768px) {
  .team h1 {
    font-size: 60px;
  }
}

.team h1 + p {
  padding: 0px 12px;
  color: #8482A0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .team h1 + p {
    margin-bottom: 80px;
  }
}

.team .members h3 {
  font-family: 'Lato', sans-serif;
  padding-top: 5px;
  margin: 0;
}

.team .members img {
  border-radius: 100px;
  border: 6px solid #50B89F;
  width: 50%;
  height: auto;
}

.team .members h3 + p {
  font-style: italic;
  color: gray;
}

.team .members p + p {
  margin: 0px 30px 30px;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
  color: #8482A0;
  font-size: 18px;
}

@media (min-width: 768px) {
  .team .members p + p {
    margin: 20px 0px;
  }
}

.request {
  background-color: #50B89F;
  margin: 10px 10px 80px;
  color: white;
  padding: 25px;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .request {
    padding: 20px 80px;
    margin: 20px 10px 80px;
  }
}

.request p {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-bottom: 40px;
}

.request img {
  position: relative;
  opacity: 0.7;
  width: 60px;
  padding-bottom: 20px;
}

.request .btndiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.request a {
  text-decoration: none;
  text-align: center;
  width: 100%;
  background: white;
  border-radius: 20px;
  color: #50B89F;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  margin: 0px 15px;
  padding: 10px 32px;
  border: 2px solid #4edbb9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.request a:hover {
  color: #50B89F;
  background-color: white;
  border: 2px solid white;
  opacity: 0.6;
}
/*# sourceMappingURL=about.css.map */